<table class="table-x width-full">
    <thead>
        <tr>
            <th>id</th>
            <th>Title</th>
            <th>Venue</th>
            <th>Target</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <%data.forEach((d)=>{%>
            <tr>
                <td><%=d.id%></td>
                <td><%=d.title%></td>
                <td>
                    <div class="flex-column width-full">
                        <h4><%=d.venue%></h4>
                        <span><%=d.address1%></span>
                        <span><%=d.address2%></span>
                        <span><%=d.postcode%> <%=d.town%>, <%=d.state%></span>
                    </div>
                </td>
                <td><%=d.target_visitors%></td>
                <td><%=d.event_date_start%> - <%=d.event_date_end%></td>
                <td>
                    <a href="./byid/<%=d.id%>" class="button button-rounded"><i class="fa-regular fa-pen-to-square"></i></a>
                    <a href="./log/<%=d.eventid%>" target="_blank" class="button button-rounded"><i class="fa-solid fa-address-book"></i></a>
                    <a href="./log-prereg/<%=d.eventid%>" target="_blank" class="button button-rounded"><i class="fa-solid fa-barcode"></i></a>
                    <a href="./log-prereg-list/<%=d.eventid%>" target="_blank" class="button bg-green button-rounded"><i class="fa-solid fa-barcode"></i></a>
                </td>
            </tr>
        <%})%>
    </tbody>
</table>