<!DOCTYPE html>
<html>
  <head>
    <title>QR Code</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../style.css?v=1.0.4">
    <link rel="stylesheet" type="text/css" href="../log.css">
    <link rel="stylesheet" type="text/css" href="../assets/fontawesome/css/solid.min.css" crossorigin="anonymous">
  </head>
  <body>
    <div class="log-container center">
        <h1>QR Code (Walk-in Registration)</h1>
        <div class="qrtitle"><%=data.title%></div>
        <div class="qrdate">
            <%=data.dt_start%> <%=(data.dt_start!==data.dt_end)?' Sehingga ' + data.dt_end:''%>
        </div>
        <a href="<%=url%>"><%=url%></a>
        <img class="qrcode" src="<%= dataUrl %>" alt="QR Code" />
    </div>
    
  </body>
</html>
